<div class="row">
    <div class="col-md-12">
	<h2 class="pull-left">Activiteiten</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
	<div class="panel panel-default">
	    <div class="panel-heading">
		<div class="row">
		    <div class="col-md-6">
			<h4>
			    <timer interval="1000">{{minutes}} minuten en {{seconds}}
				seconden is voor het laatst data opgehaald.
			    </timer>
			</h4>
		    </div>
		    <div class="col-md-6">
			<div class="form-group has-feedback pull-right" role="form">
			    <label for="search-table-input"
				   class="fa fa-search form-control-feedback"></label> <input
				   type="text" class="form-control" id="search-table-input"
				   placeholder="Zoeken..." ng-model="searchText" auto-focus="true">
			</div>
		    </div>
		</div>
	    </div>
	    <table id="activity-stream-table"
		   class="table table-striped table-bordered table-condensed table-selectable table-hover">
		<thead>
		<th class="col-md-3">Server</th>
		<th class="col-md-1">Melder</th>
		<th class="col-md-1">Incident Datum</th>
		<th class="col-md-1">Meldings Datum</th>
		<th class="col-md-7">Notitie</th>
		</thead>
		<tbody>
		    <tr
			ng-repeat="row in notes| orderBy:'creationDate':true | filter:searchText"
			repeat-done="fixedTableHeaders('activity-stream-table')"
			ng-dblclick="goToInfo(row.server.id)">
			<td>{{ row.server.hostName}}, {{ row.server.supportName}}</td>
			<td>{{ row.reporter}}</td>
			<td>{{ row.incidentDate | date:'HH:mm dd-MM-yyyy' }}</td>
			<td>{{ row.creationDate | date:'HH:mm dd-MM-yyyy' }}</td>
			<td>{{ row.noteText}}</td>
		    </tr>
		    <tr data-ng-hide="notes.length">
			<td colspan="5">
			    <div class="alert alert-info centered">Geen notities
				gevonden</div>
			</td>
		    </tr>
		</tbody>
	    </table>
	    <div class="panel-footer"></div>
	</div>
    </div>
</div>