<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>Gebruikers</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success btn-sm pull-left"
				ng-click="saveUsers()">
                            <i class="fa fa-floppy-o"></i> Opslaan
                        </button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-feedback pull-right" role="form">
                            <label for="search-table-input"
				   class="fa fa-search form-control-feedback"></label> <input
				   type="text" class="form-control" id="search-table-input"
				   placeholder="Zoeken..." ng-model="searchTextUser" auto-focus="true">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-condensed table-selectable">
                <thead>
                    <tr>
                        <th sort-table-head by="orderUser" reverse="reverseUser" order="'name'">Naam</th>
                        <th sort-table-head by="orderUser" reverse="reverseUser" order="'known'">Standaard/bekend</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in users| orderBy:orderUser:reverseUser | filter:searchTextUser">
                        <td class="col-md-8">{{ row.name}}</td>
                        <td class="col-md-4"><switch-checkbox class="pull-right" on-model="row.known"
						      data-switch-id="userKnown{{ $index}}"></switch-checkbox></td>
		</tr>
		<tr data-ng-hide="users.length">
		    <td colspan="2">
			<div class="alert alert-info centered">Geen gebruikers
			    gevonden.
			</div>
		    </td>
		</tr>
                </tbody>
            </table>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Iptables</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success btn-sm pull-left"
				ng-click="saveIptables()">
                            <i class="fa fa-floppy-o"></i> Opslaan
                        </button>
                    </div>                
                    <div class="col-md-6">
                        <div class="form-group has-feedback pull-right" role="form">
                            <label for="search-table-input" class="fa fa-search form-control-feedback"></label>
			    <input type="text" class="form-control" id="search-table-input"
				   placeholder="Zoeken..." ng-model="searchTextIptable">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-condensed table-selectable">
                <thead>
		    <th sort-table-head by="orderIptable" reverse="reverseIptable" order="'tableRule'">Rule</th>
		    <th sort-table-head by="orderIptable" reverse="reverseIptable" order="'known'">Standaard/bekend</th>
                </thead>
                <tbody>
                    <tr ng-repeat="row in iptables| orderBy:orderIptable:reverseIptable | filter:searchTextIptable">
                        <td class="col-md-8">{{ row.tableRule}}</td>
                        <td class="col-md-4">
			    <switch-checkbox class="pull-right" on-model="row.known" data-switch-id="iptableKnown{{ $index}}"></switch-checkbox>
			</td>
		    </tr>
		    <tr data-ng-hide="iptables.length">
			<td colspan="2">
			    <div class="alert alert-info centered">Geen IP-tables
				gevonden.
			    </div>
			</td>
		    </tr>
                </tbody>
            </table>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>